<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://database:5432/appartements</property>
		<property name="hibernate.connection.username">appowner</property>
		<property name="hibernate.connection.password">newr00t</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="hibernate.connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL92Dialect</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="hibernate.show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<!-- <property name="hibernate.hbm2ddl.auto">create</property> -->
		<property name="hibernate.hbm2ddl.auto">create</property>

		<mapping class="com.mby.appartmanager.models.Appartement"></mapping>
		<mapping class="com.mby.appartmanager.models.Charges"></mapping>
		<mapping class="com.mby.appartmanager.models.ContratGestion"></mapping>
		<mapping class="com.mby.appartmanager.models.Coordonnees"></mapping>
		<mapping class="com.mby.appartmanager.models.DispositifFiscal"></mapping>
		<mapping class="com.mby.appartmanager.models.Document"></mapping>
		<mapping class="com.mby.appartmanager.models.Equipement"></mapping>
		<mapping class="com.mby.appartmanager.models.Gestionnaire"></mapping>
		<mapping class="com.mby.appartmanager.models.Incident"></mapping>
		<mapping class="com.mby.appartmanager.models.Locataire"></mapping>
		<mapping class="com.mby.appartmanager.models.Location"></mapping>
		<mapping class="com.mby.appartmanager.models.Options"></mapping>
		<mapping class="com.mby.appartmanager.models.Paiement"></mapping>
		<mapping class="com.mby.appartmanager.models.Piece"></mapping>
		<mapping class="com.mby.appartmanager.models.Transaction"></mapping>


	</session-factory>

</hibernate-configuration>